In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
graffiti_file = "311-service-requests-graffiti-removal.csv"
graffiti_df = pd.read_csv(graffiti_file)
graffiti_df.head()

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,What Type of Surface is the Graffiti on?,Where is the Graffiti located?,Street Address,ZIP Code,X Coordinate,...,Community Area,SSA,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,2018-12-18T00:00:00.000,Open,NaN,18-03388261,Graffiti Removal,Brick - Unpainted,Alley,941 W LAWRENCE AVE,60640.0,1.169138e+06,...,3.0,34.0,41.968990,-87.654054,"{'latitude': '41.968990042027', 'longitude': '...",37.0,22616.0,31.0,19.0,39.0
1,2018-12-18T00:00:00.000,Completed,2018-12-19T00:00:00.000,18-03387473,Graffiti Removal,Vinyl Siding,Garage,4700 W MAYPOLE AVE,60644.0,1.145010e+06,...,25.0,NaN,41.884592,-87.743089,"{'latitude': '41.884591582851', 'longitude': '...",11.0,22216.0,26.0,696.0,23.0
2,2018-12-18T00:00:00.000,Open,NaN,18-03388465,Graffiti Removal,Brick - Unpainted,Side,2455 S BLUE ISLAND AVE,60608.0,1.162830e+06,...,31.0,NaN,41.847654,-87.677733,"{'latitude': '41.847654472993', 'longitude': '...",8.0,14920.0,33.0,126.0,26.0
3,2018-12-18T00:00:00.000,Completed,2018-12-19T00:00:00.000,18-03388768,Graffiti Removal,Brick - Painted,Front,2114 S CALIFORNIA AVE,60608.0,1.158021e+06,...,30.0,NaN,41.853240,-87.695637,"{'latitude': '41.853240181619', 'longitude': '...",29.0,21569.0,32.0,203.0,1.0
4,2018-12-18T00:00:00.000,Open,NaN,18-03387763,Graffiti Removal,Brick - Unpainted,Side,951 W WRIGHTWOOD AVE,60614.0,1.169414e+06,...,7.0,35.0,41.928902,-87.653486,"{'latitude': '41.928902141203', 'longitude': '...",51.0,21190.0,68.0,769.0,34.0

In [3]:
lights_all_file = "311-service-requests-street-lights-all-out.csv"
lights_all_df = pd.read_csv(lights_all_file)
lights_all_df.head()

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,2018-12-18T00:00:00.000,Open,NaN,18-03388534,Street Lights - All/Out,119 W 112TH ST,60628.0,1.177394e+06,1.830689e+06,34.0,5.0,49.0,41.690735,-87.626170,"{'latitude': '41.690735350584', 'longitude': '...",45.0,21861.0,45.0,660.0,22.0
1,2018-12-18T00:00:00.000,Open,NaN,18-03387781,Street Lights - All/Out,12700 S LOWE AVE,60628.0,1.174295e+06,1.820662e+06,9.0,5.0,53.0,41.663291,-87.637813,"{'latitude': '41.66329091908', 'longitude': '-...",30.0,21861.0,50.0,7.0,43.0
2,2018-12-18T00:00:00.000,Open - Dup,NaN,18-03387616,Street Lights - All/Out,5300 W MONTROSE AVE,60641.0,1.140226e+06,1.928744e+06,38.0,16.0,15.0,41.960571,-87.759851,"{'latitude': '41.960570809372', 'longitude': '...",20.0,22618.0,15.0,260.0,19.0
3,2018-12-18T00:00:00.000,Open,NaN,18-03387604,Street Lights - All/Out,5100 W MONTROSE AVE,60641.0,1.141688e+06,1.928776e+06,45.0,16.0,15.0,41.960631,-87.754475,"{'latitude': '41.960631365841', 'longitude': '...",20.0,22618.0,15.0,259.0,50.0
4,2018-12-18T00:00:00.000,Open,NaN,18-03388032,Street Lights - All/Out,7006 W GRACE ST,60634.0,1.128996e+06,1.924459e+06,38.0,16.0,17.0,41.949013,-87.801239,"{'latitude': '41.949012581894', 'longitude': '...",25.0,22254.0,17.0,444.0,19.0

In [4]:
lights_one_file = "311-service-requests-street-lights-one-out.csv"
lights_one_df = pd.read_csv(lights_one_file)
lights_one_df.head()

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,Latitude,Longitude,Location
0,2018-12-19T00:00:00.000,Open,NaN,18-03389670,Street Light Out,1935 W 22ND PL,60608.0,1.163819e+06,1.889090e+06,25.0,10.0,31.0,41.851291,-87.674233,"(41.85129123257219,-87.67423282722051)"
1,2018-12-18T00:00:00.000,Open,NaN,18-03387095,Street Light Out,3100 N NAGLE AVE,60634.0,1.132873e+06,1.919914e+06,36.0,25.0,19.0,41.936473,-87.787093,"(41.93647335832003,-87.78709335212764)"
2,2018-12-18T00:00:00.000,Open - Dup,NaN,18-03387523,Street Light Out,4399 N CENTRAL AVE,60634.0,1.138216e+06,1.928699e+06,38.0,16.0,15.0,41.960484,-87.767243,"(41.96048439311144,-87.76724278353592)"
3,2018-12-18T00:00:00.000,Open,NaN,18-03387762,Street Light Out,2210 S STEWART AVE,60616.0,1.173713e+06,1.889555e+06,25.0,9.0,34.0,41.852355,-87.637904,"(41.85235480054289,-87.6379042200931)"
4,2018-12-18T00:00:00.000,Completed - Dup,2019-02-09T00:00:00.000,18-03388320,Street Light Out,1016 E 101ST ST,60628.0,1.184865e+06,1.838026e+06,8.0,5.0,50.0,41.710697,-87.598591,"(41.710697345696595,-87.59859055349905)"

In [5]:
alley_lights_file = "311-service-requests-alley-lights-out.csv"
alley_lights_df = pd.read_csv(alley_lights_file)
alley_lights_df.head()

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,2018-12-18T00:00:00.000,Open - Dup,NaN,18-03387543,Alley Light Out,9148 S PAXTON AVE,60617.0,1.192433e+06,1.844741e+06,7.0,4.0,48.0,41.728943,-87.570658,"{'latitude': '41.728943332216', 'longitude': '...",43.0,21202.0,44.0,492.0,37.0
1,2018-12-18T00:00:00.000,Open,NaN,18-03387434,Alley Light Out,4430 W FULTON ST,60624.0,1.146803e+06,1.901383e+06,28.0,11.0,26.0,41.885367,-87.736372,"{'latitude': '41.885366607176', 'longitude': '...",11.0,21572.0,27.0,732.0,23.0
2,2018-12-18T00:00:00.000,Open,NaN,18-03387561,Alley Light Out,11311 S CENTRAL PARK AVE,60655.0,1.154392e+06,1.829315e+06,19.0,22.0,74.0,41.687454,-87.710420,"{'latitude': '41.687453557211', 'longitude': '...",33.0,4447.0,73.0,264.0,42.0
3,2018-12-18T00:00:00.000,Open,NaN,18-03387171,Alley Light Out,3525 N ORANGE AVE,60634.0,1.122791e+06,1.922453e+06,38.0,16.0,17.0,41.943609,-87.824091,"{'latitude': '41.943609350149', 'longitude': '...",39.0,22254.0,17.0,457.0,19.0
4,2018-12-18T00:00:00.000,Open - Dup,NaN,18-03387750,Alley Light Out,7244 S RHODES AVE,60619.0,1.181160e+06,1.857104e+06,6.0,3.0,69.0,41.763138,-87.611574,"{'latitude': '41.763137695708', 'longitude': '...",31.0,21546.0,67.0,515.0,32.0

In [6]:
graffiti_cols = ["Creation Date", "Service Request Number", "Type of Service Request", "ZIP Code", "Ward", "Police District", "Community Area", "What Type of Surface is the Graffiti on?" ]
graffiti_transformed= graffiti_df[graffiti_cols].copy()

# Rename the column headers
graffiti_transformed = graffiti_transformed.rename(columns={"Creation Date": "creation_date",
                                                          "Service Request Number": "service_request_number",
                                                          "Type of Service Request": "graffiti_request",
                                                          "ZIP Code": "ZIP",
                                                          "Ward": "ward",
                                                          "Police District": "police_district",
                                                          "Community Area": "community_area",
                                                          "What Type of Surface is the Graffiti on?": "graffiti_location"})

# Clean the data by dropping duplicates and setting the index
graffiti_transformed.drop_duplicates("service_request_number", inplace=True)
graffiti_transformed.set_index("service_request_number", inplace=True)

graffiti_transformed.head()

,creation_date,graffiti_request,ZIP,ward,police_district,community_area,graffiti_location
service_request_number,,,,,,,
18-03388261,2018-12-18T00:00:00.000,Graffiti Removal,60640.0,46.0,19.0,3.0,Brick - Unpainted
18-03387473,2018-12-18T00:00:00.000,Graffiti Removal,60644.0,28.0,11.0,25.0,Vinyl Siding
18-03388465,2018-12-18T00:00:00.000,Graffiti Removal,60608.0,25.0,10.0,31.0,Brick - Unpainted
18-03388768,2018-12-18T00:00:00.000,Graffiti Removal,60608.0,12.0,10.0,30.0,Brick - Painted
18-03387763,2018-12-18T00:00:00.000,Graffiti Removal,60614.0,43.0,19.0,7.0,Brick - Unpainted

In [7]:
lights_all_cols = ["Creation Date", "Service Request Number", "Type of Service Request", "ZIP Code", "Ward", "Police District", "Community Area"]
lights_all_transformed= lights_all_df[lights_all_cols].copy()

# Rename the column headers
lights_all_transformed = lights_all_transformed.rename(columns={"Creation Date": "creation_date",
                                                          "Service Request Number": "service_request_number",
                                                          "Type of Service Request": "st_lights_all_request",
                                                          "ZIP Code": "ZIP",
                                                          "Ward": "ward",
                                                          "Police District": "police_district",
                                                          "Community Area": "community_area"})

# Clean the data by dropping duplicates and setting the index
lights_all_transformed.drop_duplicates("service_request_number", inplace=True)
lights_all_transformed.set_index("service_request_number", inplace=True)

lights_all_transformed.head()

,creation_date,st_lights_all_request,ZIP,ward,police_district,community_area
service_request_number,,,,,,
18-03388534,2018-12-18T00:00:00.000,Street Lights - All/Out,60628.0,34.0,5.0,49.0
18-03387781,2018-12-18T00:00:00.000,Street Lights - All/Out,60628.0,9.0,5.0,53.0
18-03387616,2018-12-18T00:00:00.000,Street Lights - All/Out,60641.0,38.0,16.0,15.0
18-03387604,2018-12-18T00:00:00.000,Street Lights - All/Out,60641.0,45.0,16.0,15.0
18-03388032,2018-12-18T00:00:00.000,Street Lights - All/Out,60634.0,38.0,16.0,17.0

In [8]:
lights_one_cols = ["Creation Date", "Service Request Number", "Type of Service Request", "ZIP Code", "Ward", "Police District", "Community Area"]
lights_one_transformed= lights_one_df[lights_all_cols].copy()

# Rename the column headers
lights_one_transformed = lights_one_transformed.rename(columns={"Creation Date": "creation_date",
                                                          "Service Request Number": "service_request_number",
                                                          "Type of Service Request": "st_lights_one_request",
                                                          "ZIP Code": "ZIP",
                                                          "Ward": "ward",
                                                          "Police District": "police_district",
                                                          "Community Area": "community_area"})

# Clean the data by dropping duplicates and setting the index
lights_one_transformed.drop_duplicates("service_request_number", inplace=True)
lights_one_transformed.set_index("service_request_number", inplace=True)

lights_one_transformed.head()

,creation_date,st_lights_one_request,ZIP,ward,police_district,community_area
service_request_number,,,,,,
18-03389670,2018-12-19T00:00:00.000,Street Light Out,60608.0,25.0,10.0,31.0
18-03387095,2018-12-18T00:00:00.000,Street Light Out,60634.0,36.0,25.0,19.0
18-03387523,2018-12-18T00:00:00.000,Street Light Out,60634.0,38.0,16.0,15.0
18-03387762,2018-12-18T00:00:00.000,Street Light Out,60616.0,25.0,9.0,34.0
18-03388320,2018-12-18T00:00:00.000,Street Light Out,60628.0,8.0,5.0,50.0

In [9]:
alley_lights_cols = ["Creation Date", "Service Request Number", "Type of Service Request", "ZIP Code", "Ward", "Police District", "Community Area"]
alley_lights_transformed= alley_lights_df[alley_lights_cols].copy()

# Rename the column headers
alley_lights_transformed = alley_lights_transformed.rename(columns={"Creation Date": "creation_date",
                                                          "Service Request Number": "service_request_number",
                                                          "Type of Service Request": "alley_lights_request",
                                                          "ZIP Code": "ZIP",
                                                          "Ward": "ward",
                                                          "Police District": "police_district",
                                                          "Community Area": "community_area"})

# Clean the data by dropping duplicates and setting the index
alley_lights_transformed.drop_duplicates("service_request_number", inplace=True)
alley_lights_transformed.set_index("service_request_number", inplace=True)

lights_one_transformed.head()

,creation_date,st_lights_one_request,ZIP,ward,police_district,community_area
service_request_number,,,,,,
18-03389670,2018-12-19T00:00:00.000,Street Light Out,60608.0,25.0,10.0,31.0
18-03387095,2018-12-18T00:00:00.000,Street Light Out,60634.0,36.0,25.0,19.0
18-03387523,2018-12-18T00:00:00.000,Street Light Out,60634.0,38.0,16.0,15.0
18-03387762,2018-12-18T00:00:00.000,Street Light Out,60616.0,25.0,9.0,34.0
18-03388320,2018-12-18T00:00:00.000,Street Light Out,60628.0,8.0,5.0,50.0

In [10]:
database_path ="root:Rizzo-44@localhost/x311calls_db"
engine = create_engine(f"mysql://{database_path}")

In [11]:
engine.table_names()

['alley_lights', 'graffiti', 'street_lights_all', 'street_lights_one']

In [ ]:
# !pip install mysqlclient

In [12]:
graffiti_transformed.to_sql(name='graffiti', con=engine, if_exists='append', index=True)

In [13]:
lights_all_transformed.to_sql(name='street_lights_all', con=engine, if_exists='append', index=True)

In [14]:
lights_one_transformed.to_sql(name='street_lights_one', con=engine, if_exists='append', index=True)

In [15]:
alley_lights_transformed.to_sql(name='alley_lights', con=engine, if_exists='append', index=True)